<div class="home-intro">
    <h6 id="wiki-links-are-auto-converted-to-hyperlinks">Hi, I am Nikhil Vishnu</h6>
        <p>Product Manager with 12+ years of experience. Built and launched products for enterprises and startups. Co-founded product development studio and managed multiple product teams.</p>
        <p>Here, you'll find a mix of content –  articles, notes, experiments –  on topics that pique my interest, from Product Management to Running .</p>
        <p>This is a space for me to learn in public, explore connections between seemingly disparate ideas, and hopefully, spark some curiosity in you along the way.  Feel free to wander the paths, delve into the rabbit holes, and maybe even plant a seed of your own. Check out my <a href="{{'/notes' | relative_url}}"> notes</a>.</p>
        <p>I mentor and coach aspiring Product Managers through ADPList, where I provide guidance on product strategy, leadership, and career growth within the field. Feel free to connect with me for personalized advice or join one of my sessions <a href="https://adplist.org/mentors/nikhil-vishnu-pv"> here</a> </p>
</div> 

